$space-large: 3rem;
$title-color: darken(maroon, 12%);

.menu-text {
  color: $title-color;
}

.active {
  font-weight: 600;
}

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}
